<mat-toolbar color="primary">
  <button mat-icon-button class="" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>Angular Standalone Components App</span>
 <span class="spacer"></span>
 <button mat-icon-button class=" favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar>
<app-button-list></app-button-list>
