<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button> -->
 <span>{{title}}</span>
 <a mat-button routerLink="button"> Button List </a>
 <a mat-button routerLink="chip"> Chip List </a>
 <a mat-button routerLink="photo"> Photo List </a>
 <span class="spacer"></span>

 <button mat-icon-button class=" favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar>
<section class="content">
  <router-outlet></router-outlet>
</section>

