<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button> -->
  <a mat-button routerLink="/"> {{ title }} </a>
  <a mat-button routerLink="button"> Button List </a>
  <a mat-button routerLink="chip"> Chip List </a>
  <a mat-button routerLink="photo"> Photo List </a>
  <span class="spacer"></span>

  <a
    mat-icon-button
    href="https://github.com/damingerdai/angular-standalone-components-app"
    aria-label="GitHub Repository"
  >
    <img
      class="github"
      src="assets/img/github-circle-white-transparent.svg"
      alt="angular-standalone-components-app"
    />
  </a>
</mat-toolbar>
<section class="content">
  <router-outlet></router-outlet>
</section>
