@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$theme: matx.define-theme();

html {
  @include mat.all-component-themes($theme);
  @include matx.color-variants-back-compat($theme);
}
